.row {
	color: black;
}
.header{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
	height: 33%;

}
.flex-column {
	width: 25%;
	padding-top: 10px;
}

.levynkansi {
	width: 150px;
	height: 150px;
}

.uutinen {
	width: 80%;
}

.fylli{
	display: none;
}