body {
	background-image: url(hautausmaa.jpeg) ;
	color: white ;
}

p.a {
	color: green;
	font-size: 12px;
}

h1.a {
	font-size: 20px;
}

div.a {
	border-style: dotted;
	border-width: 2px;
	width: 100px;
	height: 100px;
}

.reuna {
	border-style: groove;
	border-width: 5px;
	border-color: black;
	padding: 20px;
	margin: 20px;
}

.tekstireuna {
	background: green;
	border-style: outset;
}