body {
	background: black ;
	color: white ;
}

p.a {
	color: green;
	font-size: 12px;
}

h1.a {
	font-size: 20px;
}

div.a {
	border-style: dotted;
	border-width: 2px;
	width: 100px;
	height: 100px;
}